/* COLORS */
$primary-dark-blue: hsl(233, 47%, 7%);
$primary-desaturated-blue: hsl(244, 38%, 16%);
$primary-violet: hsl(277, 64%, 61%);

$neutral-white: hsl(0, 0%, 100%);
$transparent-paragraph: hsla(0, 0%, 100%, 0.75);
$transparent-stats: hsla(0, 0%, 100%, 0.6);

/* FONTS */
$font-inter: "Inter", sans-serif;
$font-lexer: "Lexend Deca", sans-serif;

$text-size-15: 15px;
