*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: $primary-dark-blue;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;

  @include view(mobile) {
    height: 100%;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  max-width: 77%;
  background-color: $primary-desaturated-blue;
  border-radius: 15px;

  @include view(mobile) {
    flex-direction: column-reverse;
    min-width: 90%;
    margin-block: 150px;
  }
}
