.picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: invert(40%) sepia(50%) saturate(619%) hue-rotate(238deg)
    brightness(50%) contrast(86%);
  opacity: 0.9;
  border-radius: 0 15px 15px 0;
  flex: 50%;
}
