.picture {
  display: flex;
  flex: 1;
}

img {
  object-fit: cover;
  filter: invert(40%) sepia(50%) saturate(619%) hue-rotate(240deg)
    brightness(50%) contrast(90%);
  opacity: 0.9;
  border-radius: 0 15px 15px 0;
  width: 100%;

  @include view(mobile) {
    border-radius: 15px 15px 0 0;
  }
}
