.statistics {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-inline: 80px;
  margin-block: 50px;

  &--number {
    font-family: $font-inter;
    font-size: 30px;
    color: $neutral-white;
  }

  &--text {
    font-family: $font-lexer;
    font-size: $text-size-15;
    color: $transparent-stats;
    text-transform: uppercase;
  }
}
