.statistics {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin: 50px 250px 50px 80px;
  justify-content: space-between;

  @include view(mobile) {
    flex-direction: column;
    margin: 25px;
  }

  &--number {
    font-family: $font-inter;
    font-size: 30px;
    color: $neutral-white;
    font-weight: 700;
  }

  &--text {
    font-family: $font-inter;
    font-size: $text-size-15;
    font-weight: 400;
    color: $transparent-stats;
    text-transform: uppercase;
    padding-top: 7px;
  }
}
